
    $primary:#5265E1;
    $secondary:#5265E1;

/* ------ seccio 1 : BookMark Manager -------- */

/* .image1{
    position: absolute;
    z-index: 1;
}  */

/* .box{
    position: absolute;
    background-color: #5265E1;
    width: 23rem;
    height: 15rem;
    border-top-left-radius:7rem;
    border-bottom-left-radius: 7rem;
   z-index: -1; 
} */

/* ------ seccio 2 : Features -------- */



@import "./node_modules/bootstrap/scss/bootstrap.scss";
