$font-family-sans-serif: 'Rubik', sans-serif;

$primary: #5265E1;
$secondary: #FA5959;
$color: rgb(59, 58, 58);

body{
	overflow-x: hidden;
}

/* ------ seccio 1 : Bookmark Manager -------- */

.blue-form-right {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 75%;
	top: 30%;
	left: 40%;
}

/* ------ seccio 2 : Features -------- */

.blue-form-left {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 95%;
	top: 25%;
	right: 25%;
}

.footBack{
    background-color: #171f55;
}





@import "./node_modules/bootstrap/scss/bootstrap.scss";
